<% provide(:title, "Add Collection") %>
<div class="mx-auto w-10/12 md:w-8/12 lg:w-6/12">
  <section id="top-matter">
    <h1 class="font-semibold text-2xl leading-tight tracking-tight text-slate-800">Add a Collection</h1>
    <p class="leading-snug text-slate-800">Create a curated list from books already in the Churchill Library.</p>
  </section>

  <section id="add-collection" class="mt-4">
    <%= render "form", url: collections_path, method: :post, cancel_path: collections_path %>
  </section>
</div>
