<% provide(:title, "Home") %>
<div>
  <h1 class="font-bold text-4xl">Sample App</h1>
  <p>
    This is the home page for the
    <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </p>
</div>
