<% provide(:title, "About") %>
<div class="mx-auto">
  <div class="relative isolate px-6 lg:px-8">
    <div class="mx-auto max-w-2xl">
      <div class="text-center">
        <h2 class="object-center text-4xl font-bold tracking-tight text-grey sm:text-6xl">About the Library</h2>
        <p class="mt-6 text-lg leading-8 text-gray-500">The Churchill Library is a hodgepodge, thrown-together rigamarole filled with excitement, tears, and love. Enjoy your stay.</p>
      </div>
    </div>
  </div>
</div>
