<div class="mx-auto">
  <div class="relative isolate px-6 lg:px-8">
    <div class="mx-auto max-w-2xl">
      <div class="text-center">
        <h2 class="object-center text-4xl font-bold tracking-tight text-grey sm:text-6xl">Welcome to the Library</h2>
      </div>
    </div>
  </div>
</div>
